<!DOCTYPE html>
<html>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <body>
        <h1>Welcome to Social App</h1>
        <ul>
                <li><a class="link" (click)="Home()"><i class="fa fa-fw fa-home"></i>Home</a></li>
                <li><a class="link" (click)="Create()"><i class="fa fa-fw fa-plus"></i>Create</a></li>
                <li><a class="link" (click)="View()"><i class="fa fa-fw fa-eye"></i>View</a></li>
                <li><a class="link" (click)="Friend()"><i class="fa fa-fw fa-users"></i>Add friend</a></li>
                <li><a class="link" (click)="Profile()"><i class="fa fa-user-circle-o"></i>View Profile</a></li>
                <li><a class="link" (click)="About()"><i class="fa fa-fw fa-address-card"></i>About</a></li>
                <li><a class="link" (click)="Contact()" class="active"><i class="fa fa-fw fa-id-badge"></i>Contact Us</a></li>
                <li><a class="link" (click)="Logout()"><i class="fa fa-fw fa-power-off"></i>Logout</a></li>
        </ul>
        <h2 style="color: blue; background: pink;">If you are facing any sort of problems, or issues, whatever; you can feel free to contact me.<br>
        <br>
        Name: Sayantan Halder <br>
        <br>
        Address: H.C.Sarani,Near Sonarpur Municipal Office,<br>
        Sonarpur, Kolkata-700150, West Bengal, India
        <br><br>
        Mobile Number: +91 8582958892 
        <br><br>
        Email: sayantanhalder08@gmail.com</h2>
    </body>
</html>