<!DOCTYPE html>
<html>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <body>
        <h1>Welcome to Social App</h1>
        <ul>
                <li><a class="link" (click)="Home()"><i class="fa fa-fw fa-home"></i>Home</a></li>
                <li><a class="link" (click)="Create()"><i class="fa fa-fw fa-plus"></i>Create</a></li>
                <li><a class="link" (click)="View()"><i class="fa fa-fw fa-eye"></i>View</a></li>
                <li><a class="link" (click)="Friend()" class="active"><i class="fa fa-fw fa-users"></i>Add friend</a></li>
                <li><a class="link" (click)="Profile()"><i class="fa fa-user-circle-o"></i>View Profile</a></li>
                <li><a class="link" (click)="About()"><i class="fa fa-fw fa-address-card"></i>About</a></li>
                <li><a class="link" (click)="Contact()"><i class="fa fa-fw fa-id-badge"></i>Contact Us</a></li>
                <li><a class="link" (click)="Logout()"><i class="fa fa-fw fa-power-off"></i>Logout</a></li>
        </ul>
        <div class="box">
            <div style="color: black;"><b>Add Friend</b>

                <hr class="solid">
            </div>
            <div>
                    <img src="https://www.deshairtravels.com/mobilesite//cdn/resume/-social_media_profile_picture-3.jpg">
                    <div class="a">
                        Swarnendu Dawn
                        <button class="ad" type="submit">Add friend</button>
                        <button class="del" type="submit">Delete</button>
                    </div>
            </div>
            <br>
            <div style="color: black;"><b>Friend Request</b>

                <hr class="solid">
            </div>
            <div>
                    <img src="https://www.deshairtravels.com/mobilesite//cdn/resume/-social_media_profile_picture-3.jpg">
                    <div class="a">
                        Abhishek Das
                        <button class="ad" type="submit">Confirm</button>
                        <button class="del" type="submit">Remove</button>
                    </div>
            </div>
        </div>
    </body>
</html>