<!DOCTYPE html>
<html>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <body>
        <h1>Welcome to Social App</h1>
        <ul>
                <li><a class="link" (click)="Home()" class="active"><i class="fa fa-fw fa-home"></i>Home</a></li>
                <li><a class="link" (click)="Create()"><i class="fa fa-fw fa-plus"></i>Create</a></li>
                <li><a class="link" (click)="View()"><i class="fa fa-fw fa-eye"></i>View</a></li>
                <li><a class="link" (click)="Friend()"><i class="fa fa-fw fa-users"></i>Add friend</a></li>
                <li><a class="link" (click)="Profile()"><i class="fa fa-user-circle-o"></i>View Profile</a></li>
                <li><a class="link" (click)="About()"><i class="fa fa-fw fa-address-card"></i>About</a></li>
                <li><a class="link" (click)="Contact()"><i class="fa fa-fw fa-id-badge"></i>Contact Us</a></li>
                <li><a class="link" (click)="Logout()"><i class="fa fa-fw fa-power-off"></i>Logout</a></li>
        </ul>
        <br>
        <form class="example" action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
          <div class="box">
              You shared a <b>post</b>:
              <div>"Survival of the fittest"</div>
            
            <div>
                    <button type="submit"><i class="fa fa-thumbs-up"></i></button>
                    <button type="submit"><i class="fa fa-comments-o"></i></button>
                    <button type="submit"><i class="fa fa-share-alt"></i></button>
                    
            </div>
          </div>
    </body>
</html>